* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif !important;
  position: relative;
  background-color: var(--white-alt) !important;
  overflow: auto !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

// Overlay
span.overlay {
  background-color: rgba(0, 0, 0, 0);
  width: 0vw;
  height: 0vh;
  z-index: 9999995;
  transition: 0.3s background-color;
  &.active {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.753);
    height: 100vh;
  }
}
