:root {
    --green-col: #71a400;
    --red-col: #f1373d;
    --dark-red: #d30424;
    --light-red: #edd5d6;
    --gray-col: #393838;
    --darker-gray: #202020;
    --shadow-col: #2525255e;
    --white-alt: #ebebeb;
    --darker-white: #989999;
}

$main-trans: 0.2s ease;
