@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif !important;
  position: relative;
  background-color: var(--white-alt) !important;
  overflow: auto !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

span.overlay {
  background-color: rgba(0, 0, 0, 0);
  width: 0vw;
  height: 0vh;
  z-index: 9999995;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}
span.overlay.active {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.753);
  height: 100vh;
}

:root {
  --green-col: #71a400;
  --red-col: #f1373d;
  --dark-red: #d30424;
  --light-red: #edd5d6;
  --gray-col: #393838;
  --darker-gray: #202020;
  --shadow-col: #2525255e;
  --white-alt: #ebebeb;
  --darker-white: #989999;
}

nav {
  z-index: 100;
}
nav .top {
  height: 76px;
  padding: 100px;
}
nav .top .menu {
  cursor: pointer;
}
nav .top img {
  width: 70px;
}
nav .top ul {
  font-size: 16px;
}
nav .top ul li {
  padding: 0 5px;
}
nav .top ul li a {
  color: var(--gray-col);
}
nav .top ul li span {
  padding: 0 8px;
}
nav .top ul li span:hover {
  color: var(--red-col);
}
nav .top #lang-change {
  background-color: var(--light-red);
  cursor: pointer;
}
nav .top #lang-change a {
  color: var(--red-col) !important;
}
nav .bottom {
  height: 60px;
  padding: 0 100px;
  background-color: var(--gray-col);
}
nav .bottom ul.left {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
nav .bottom ul.left li {
  cursor: pointer;
  height: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  width: calc(80% / 5);
}
nav .bottom ul.left li:hover {
  background-color: var(--red-col);
}
nav .bottom ul.left li a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 16px !important;
  letter-spacing: 1px;
  color: white !important;
}
nav .bottom ul.left li a.active {
  background-color: var(--red-col) !important;
}
nav .bottom ul.left li .mega {
  display: none;
  background-color: #f9f9f9;
  bottom: -80px;
  left: 0;
  width: 200px;
  -webkit-box-shadow: -1px 9px 10px 1px var(--shadow-col);
          box-shadow: -1px 9px 10px 1px var(--shadow-col);
  z-index: 200;
}
nav .bottom ul.left li .mega.arabic {
  right: 0;
  left: unset;
}
nav .bottom ul.left li .mega li {
  padding: 8px 12px;
  cursor: pointer;
  width: 100%;
}
nav .bottom ul.left li .mega li a {
  -webkit-transition: none;
  transition: none;
  color: var(--gray-col) !important;
}
nav .bottom ul.left li .mega li:hover {
  background-color: var(--red-col);
}
nav .bottom ul.left li .mega li:hover a {
  color: white !important;
}
nav .bottom ul.left li:nth-child(5):hover .mega {
  display: block;
}
nav .bottom ul.left li .more {
  color: var(--gray-col);
  width: 20px;
  height: 20px;
}
nav .bottom ul.left li .more i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  margin-top: -4px;
}
nav .bottom ul.right {
  height: 100%;
  margin: 0;
  color: white;
}
nav .bottom ul.right li {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
nav .bottom ul.right li.order {
  height: 100%;
  padding: 12px 0;
}
nav .bottom ul.right li.order button {
  background-color: var(--green-col);
  border: none;
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
nav .bottom ul.right li.order button:hover {
  opacity: 0.8;
}
nav .mobile-menu {
  -webkit-transform: translateX(-320px);
          transform: translateX(-320px);
  z-index: 9999999;
  width: 320px;
  background-color: white;
  height: 100vh;
  border-right: 4px solid #d3d3d3;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
nav .mobile-menu.arabic {
  -webkit-transform: translateX(320px);
          transform: translateX(320px);
}
nav .mobile-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav .mobile-menu .sign-in {
  background-color: var(--red-col);
  color: white !important;
  font-weight: bold;
}
nav .mobile-menu .sign-in img {
  width: 50px;
}
nav .mobile-menu .sign-in h2 {
  font-size: 14px;
}
nav .mobile-menu .sign-in a {
  color: white;
  border: 1px solid;
}
nav .mobile-menu .body li {
  font-size: 15px;
  padding: 15px;
  color: var(--gray-col) !important;
}
nav .mobile-menu .body li i {
  margin-right: 5px;
  font-size: 20px;
}
nav .mobile-menu .body li a {
  color: var(--red-col) !important;
}
nav .mobile-menu .body > li:nth-child(2) {
  background-color: #d3d3d3;
}
nav .mobile-menu .body > li:nth-child(2) i:last-of-type {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
nav .mobile-menu .body > li:nth-child(2) i:last-of-type.arabic {
  left: 10px;
}
nav .mobile-menu .body > li:nth-child(2).active i:last-of-type {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
nav .mobile-menu .body #m-mega-menu li {
  background-color: #ebebeb !important;
}
nav .mobile-menu .body #m-mega-menu li.active {
  display: black !important;
}

@media (max-width: 992px) {
  nav {
    border-radius: 0 0 10px 10px;
  }
  nav .top {
    padding: 20px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .top img {
    width: 50px;
  }
  nav .top ul {
    display: none;
  }
  nav .top #lang-change {
    background-color: white !important;
    color: var(--gray-col) !important;
    cursor: pointer;
  }
  nav .bottom {
    display: none !important;
  }
}
.mobile-location {
  background-color: var(--red-col);
  z-index: 99;
  margin-top: -12px;
  padding: 25px 0 15px !important;
}
.mobile-location h2,
.mobile-location p {
  font-size: 14px;
  color: white;
}
.mobile-location a {
  color: white;
  background-color: var(--dark-red);
  padding: 5px;
}
.mobile-location a:hover {
  color: white !important;
  background-color: var(--dark-red) !important;
}

@media (max-width: 1300px) {
  ul.left {
    padding: 0;
  }
  ul.left li {
    width: calc(100% / 5) !important;
  }
}
.sec-header h2 {
  background-color: var(--red-col);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.sec-header h2::after, .sec-header h2::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  background-color: transparent;
  border: 18px solid var(--light-red);
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.sec-header h2::before {
  border-left-color: var(--light-red);
  border-right-color: transparent;
  right: unset;
  left: 0;
}
.sec-header span.view-all a {
  color: var(--gray-col) !important;
}
.sec-header span.view-all a i {
  background-color: var(--gray-col);
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
}

body {
  height: 100vh !important;
}

.account {
  display: none;
  padding: 20px 35px;
  width: 400px;
  z-index: 9999996;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;
}
.account.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: pop-up;
          animation: pop-up;
}
@-webkit-keyframes pop-up {
  from {
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@keyframes pop-up {
  from {
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.account .close-acc {
  color: var(--gray-col);
  border: 3px solid var(--gray-col);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  right: -15px;
  top: -15px;
  cursor: pointer;
}
.account img {
  width: 60px;
}
.account .tabs {
  border-bottom: 1px solid var(--white-alt);
}
.account .tabs div {
  cursor: pointer;
  color: var(--darker-white);
}
.account .tabs div.active {
  border-bottom: 3px solid var(--red-col);
  color: black;
}
.account form input:not([type=submit]) {
  background-color: #f7f7f7;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.account form input:not([type=submit]):focus {
  outline: 2px solid var(--green-col);
}
.account form .checks p {
  cursor: pointer;
  color: #787878;
}
.account form .checks p .check-mark {
  color: var(--green-col);
  left: 4px;
  top: 6px;
  font-size: 13px;
}
.account form .checks p::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #787878;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.account form .checks p.active::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--green-col);
  font-size: 15px;
}
.account form input[type=submit] {
  background-color: var(--green-col);
  border: none;
}
.account form input[type=submit] :focus {
  outline: none;
}
.account .alter-acc div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #efefef;
  cursor: pointer;
}
.account .alter-acc div img {
  width: 30px;
}

.choose-lang {
  padding: 20px 35px;
  display: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999996;
  width: 400px;
}
.choose-lang.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.choose-lang .close {
  color: var(--gray-col);
  border: 3px solid var(--gray-col);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  right: -15px;
  top: -15px;
  cursor: pointer;
}
.choose-lang img {
  width: 60px;
}
.choose-lang h3 {
  font-size: 18px;
}
.choose-lang .countries .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 8px 28px;
  position: relative;
  cursor: pointer;
}
.choose-lang .countries .count.active, .choose-lang .countries .count:hover {
  font-weight: 700;
}
.choose-lang .countries .count img {
  width: 20px;
}
.choose-lang .countries .count::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--white-alt);
  left: 0;
}
.choose-lang .countries .count.active::after {
  border-color: var(--green-col);
}
.choose-lang .countries .count.active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green-col);
  left: 4px;
}
.choose-lang a {
  color: white !important;
  background-color: var(--green-col);
  width: 90%;
}
.choose-lang a:hover {
  opacity: 0.9;
}

.boxes .box {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.boxes .box:hover {
  -webkit-box-shadow: 1px 1px 8px var(--shadow-col);
          box-shadow: 1px 1px 8px var(--shadow-col);
}
.boxes .box .content h3,
.boxes .box .content p {
  font-weight: 600;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.boxes .box .content h3 {
  color: #4d4d4d;
}
.boxes .box .content p {
  color: #948f8b;
  height: 2.7em;
}
.boxes .box .content .mon,
.boxes .box .content a.add {
  font-weight: 700;
}
.boxes .box .content a {
  background-color: var(--green-col);
  color: white !important;
}
@media (max-width: 992px) {
  .boxes .box .content .mon {
    font-size: 20px;
    color: var(--green-col);
  }
  .boxes .box .content a.add {
    padding: 10px 30px !important;
    position: absolute;
    right: -2px;
    bottom: -2px;
    font-size: 20px;
  }
}

.cart-status {
  float: right;
  padding: 20px;
  width: 350px;
}

nav a {
  color: var(--gray-col) !important;
}
nav a .prev-page {
  font-size: 25px;
}
@media (max-width: 992px) {
  nav .bottom {
    display: block !important;
    padding: 0 !important;
  }
  nav .bottom ul.left {
    padding: 0 5px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .bottom ul.left li {
    width: 100%;
  }
  nav .bottom ul.left li a {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px !important;
  }
  nav .bottom ul.left .drop-down-more {
    display: none !important;
  }
  nav .bottom ul.right {
    display: none !important;
  }
}

body {
  overflow: auto !important;
  height: 100vh;
  overflow: hidden !important;
}
body .products-scroll {
  height: 80vh;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
  display: none;
}